<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    

	<!-- define the dependency -->
	
    
    <!-- Define your beans here --> 
    
    <bean id="myFortune"
    		class="com.nestjavatraining.springfoundation.HappyFortuneService">
    </bean>
    
    
	<bean id="baseballCoach"
			class="com.nestjavatraining.springfoundation.BaseballCoach">
			<constructor-arg ref ="myFortune"/>
	</bean>
	
	<bean id="hockeyCoach"
			class="com.nestjavatraining.springfoundation.HockeyCoach">
	</bean>
	
	<bean id="cricketCoach"
			class="com.nestjavatraining.springfoundation.CricketCoach">
			<property name = "fortuneService" ref = "myFortune"/>
			<!-- <property name = "emailaddress" value="${​​​​​​foo.emailaddress}​​​​​​"/> --> 
			<!-- <property name = "teamname" value="${​​​​​​foo.teamname}​​​​​​"/> --> 
	</bean>
 
   
</beans>
